<aside class="sidebar-section" [class.sidebar-section-visible]="sidebarState" [class.sidebar-section-hidden]="!sidebarState" (click)="closeSidebar.emit()">
    <ul>
        <li>
            <a href="/" class="sidebar-links">Dashboard</a>
        </li>
        <li>
            <a href="/auth/login" class="sidebar-links">Trainee</a>
        </li>
        <li>
            <a href="/" class="sidebar-links">Mentor</a>
        </li>
        <li>
            <a href="/" route class="sidebar-links">Learning Task</a>
        </li>  
        <li>
            <a href="/" class="sidebar-links">Dashboard</a>
        </li>
        <li>
            <a href="/auth/login" class="sidebar-links">Trainee</a>
        </li>
        <li>
            <a href="/" class="sidebar-links">Mentor</a>
        </li>
        <li>
            <a href="/" class="sidebar-links">Learning Task</a>
        </li>  
    </ul>
</aside>
