<header>
    <div class="logo">
        Trainee Management
    </div>
    <div class="menu-bar">
        <button type="button" id="log-out-btn" (click)="logOut()">Log Out</button>
        <div id="menu-icon" (click)="toggleSidebar.emit()" class="block sm:hidden cursor-pointer">
            @if (!toggleState) {
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 6H21M3 12H21M3 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
            }@else {
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 6L18 18M18 6L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
            }
        </div>
    </div>
</header>
